section{
    height: 100vh;
    margin: 0 auto;
}
section .form {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    color: #0B2D72;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 6px 18px rgba(11, 45, 114, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 50px;
  
}

section .form:hover {
    transform: scale(1.01);
    /* تكبير 5% فقط */
    box-shadow: 0 8px 25px rgba(11, 45, 114, 0.4);
    /* ظل أكبر على الهور */
}

section form h1 {
    font-weight: bold;
    color: #264585;
}

.form-label {
    color: rgb(98, 115, 115) !important;
    font-size: small;
}

.btn {
    background-color: #e83c92d0;
    color: #0B2D72;
    width: 100%;
}

.btn:hover {
    transition: all 0.3s ease;
    background-color: #0B2D72;
    color: aliceblue;
}
.social{
    text-align:start;
     margin: 10px;
}
.social-item div{
margin-top:10px ;

}
.social-item div a {
   
    padding: 15px 15px;
    background-color: #264585;
    color: #ffffff;
    border-radius: 50px;
    

}

section .form label,
section .form .form-lable {
    font-size: 14px;
    /* صغير وواضح */
    font-weight: 500;
    color: #555;
}

.available {
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 1px rgba(11, 45, 114, 0.3);
    padding: 10px;
    width: 400px;
    margin-bottom: 20px;
}
.available h4{
    font-size: 14px;
    color: #555;
}
.available i {
    font-size: 10px;
    vertical-align: middle;
}
@media (max-width: 576px) {
    section .form {
   
    width: 500px;
    background-color: #fff;
    color: #0B2D72;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 6px 18px rgba(11, 45, 114, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 50px;
  
}

}

